@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
#navbar {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: left;
    align-items: last baseline;
    background-color: #5EAF6B;
    padding: 0px;
    width: 100vw;

    
}
.navbarButton {
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Darumadrop One", cursive;
    transition: 0.2s;
    
}
.navbarButton::selection{
    display: none;
}
.navbarButton:hover {
    transform: translateY(-1px);
}
.navbarButton:active {
    transform: translateY(1px);
}

.border{
    position: absolute;
    /* margin-left: 1.4vw; */
    top: 1vh;
    
    
    height: 34px;
    z-index: -1;
}
#aboutUsBorder{
    left: 1.3px;
    width: 100px;
}

#donateFoodBorder{
    left: 244.3px;
    width: 101px;
}
#reqFoodBorder{
    left: 112px;
    width: 110px;

}

.hidden
{
    display: none;
}
body{
    margin: 0;
    }
body::-webkit-scrollbar{
    display: none;
}

.button{
    border: none;
    border-radius: 60px;
    border-color: #5EAF6B;
    background: #5EAF6B;
    color: white; 
    font-family: "Fredoka", serif;
    font-weight: 500;
    font-size: 2vw;
    text-align: center;
    
    transition: 0.2s;
    transition-property: transform, box-shadow;
}
.button:hover{
    background: #5EAF6B;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.button:active{
    transform: translateY(1px);
    box-shadow: 0 0px 0px rgba(0,0,0,0.2);
}

.inputInfo{
    border: none;
    border-bottom: #5EAF6B solid;
    font-size: 2vw;
    font-family: "Fredoka", serif;
    transition: 0.2s;
    text-emphasis-position: center;
    text-overflow: ellipsis;

}
.inputInfo:focus{
    outline: none;
    background-color:#cce0d0;
    width: fit-content;
    
}
.boxInput{
    border-left:#5EAF6B solid;
    border-right:#5EAF6B solid;
    border-top:#5EAF6B solid;
    border-radius: 30px;
    border-width: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:invalid {
    border-bottom: #f67a7a solid;
}
input[type="text"] {
    padding-left: 30px;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

text{
    font-family: "Fredoka", sans-serif;
    font-size: 1.5vw;
}

text{
    font-family: "Fredoka", serif;
}